<div class="col-xl-4 col-md-6 col-sm-12 mb-2 product-item">
    <img src="@Model.ProductImg" alt="@Model.Name">
    <div>Product name: @Model.Name</div>
    <div>Price: @Model.Price ₴</div>
    <a class="btn btn-warning" href='Cart/AddToCart/@Model.Id'>Add to cart</a>
</div>
