@model IEnumerable<SmartTeapotsWebProject.Data.Models.SmartTeapot>

    @{
    Layout = "_Layout";
    }

    @{
    <section class="catalog">
        <div class="container">
            <h2 class="text-center">Product List</h2>
            <div class="row mt-2">
                @foreach (var product in Model)
                {
                    @Html.Partial("AllTeapots", product);
                }
            </div>
        </div>
    </section>
    }